*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:linear-gradient(
    135deg,
    #F8C8DC,
    #CDB4DB
  );

  min-height:100vh;
  overflow-x:hidden;
  color:#4B4453;
}

.navbar{
  width:100%;
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.nav-links{
  display:flex;
  gap:15px;
}

.nav-links a{
  text-decoration:none;
  color:#4B4453;
  font-weight:500;
}

.signup-btn{
  background:white;
  padding:10px 18px;
  border-radius:20px;
}

.hero{
  min-height:85vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero-text{
  background:rgba(255,255,255,0.25);
  padding:50px;
  border-radius:30px;
  backdrop-filter:blur(12px);
  max-width:700px;
  box-shadow:0 8px 32px rgba(0,0,0,0.08);
}

.hero h2{
  font-size:3rem;
  margin-bottom:20px;
}

.hero p{
  font-size:1.1rem;
  margin-bottom:30px;
}

.hero-buttons{
  display:flex;
  justify-content:center;
  gap:20px;
}

.primary-btn,
.secondary-btn{
  padding:14px 28px;
  border-radius:25px;
  text-decoration:none;
  transition:0.3s;
}

.primary-btn{
  background:white;
  color:#4B4453;
}

.secondary-btn{
  border:1px solid white;
  color:white;
}

.primary-btn:hover,
.secondary-btn:hover{
  transform:translateY(-3px);
}